@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

/* Wrapper equivalent */
.wrapper {
    text-align: center;
    position: relative;
    padding: 40px 0;
    /* Add some padding for spacing */
}

.sub {
    color: rgb(100, 220, 220);
    letter-spacing: 1em;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Glitch Effect */
.glitch {
    position: relative;
    color: white;
    font-size: 4em;
    letter-spacing: .5em;
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    /* Animation provides a slight random skew */
    animation: glitch-skew 1s infinite linear alternate-reverse;
}

/* Creates a copy before our text */
.glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Scoots text slightly to the left for the color offset */
    left: 2px;

    /* Creates the color 'shadow' that happens on the glitch */
    text-shadow: -2px 0 #ff00c1;

    /* Initial clip */
    clip: rect(44px, 450px, 56px, 0);

    /* Glitch animation 1 */
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

/* Creates a copy after our text */
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;

    /* Glitch animation 2 */
    animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Keyframes */

@keyframes glitch-anim {
    0% {
        clip: rect(74px, 9999px, 86px, 0);
        transform: skew(0.58deg);
    }

    5% {
        clip: rect(62px, 9999px, 3px, 0);
        transform: skew(0.33deg);
    }

    10% {
        clip: rect(69px, 9999px, 55px, 0);
        transform: skew(0.48deg);
    }

    15% {
        clip: rect(98px, 9999px, 44px, 0);
        transform: skew(0.96deg);
    }

    20% {
        clip: rect(54px, 9999px, 12px, 0);
        transform: skew(0.71deg);
    }

    25% {
        clip: rect(90px, 9999px, 32px, 0);
        transform: skew(0.19deg);
    }

    30% {
        clip: rect(87px, 9999px, 10px, 0);
        transform: skew(0.92deg);
    }

    35% {
        clip: rect(10px, 9999px, 20px, 0);
        transform: skew(0.25deg);
    }

    40% {
        clip: rect(34px, 9999px, 28px, 0);
        transform: skew(0.68deg);
    }

    45% {
        clip: rect(80px, 9999px, 40px, 0);
        transform: skew(0.04deg);
    }

    50% {
        clip: rect(92px, 9999px, 5px, 0);
        transform: skew(0.99deg);
    }

    55% {
        clip: rect(15px, 9999px, 25px, 0);
        transform: skew(0.12deg);
    }

    60% {
        clip: rect(66px, 9999px, 96px, 0);
        transform: skew(0.85deg);
    }

    65% {
        clip: rect(2px, 9999px, 18px, 0);
        transform: skew(0.53deg);
    }

    70% {
        clip: rect(48px, 9999px, 64px, 0);
        transform: skew(0.21deg);
    }

    75% {
        clip: rect(1px, 9999px, 99px, 0);
        transform: skew(0.88deg);
    }

    80% {
        clip: rect(23px, 9999px, 7px, 0);
        transform: skew(0.36deg);
    }

    85% {
        clip: rect(85px, 9999px, 16px, 0);
        transform: skew(0.65deg);
    }

    90% {
        clip: rect(41px, 9999px, 58px, 0);
        transform: skew(0.09deg);
    }

    95% {
        clip: rect(72px, 9999px, 83px, 0);
        transform: skew(0.44deg);
    }

    100% {
        clip: rect(38px, 9999px, 51px, 0);
        transform: skew(0.77deg);
    }
}

@keyframes glitch-anim2 {
    0% {
        clip: rect(100px, 9999px, 1px, 0);
        transform: skew(0.05deg);
    }

    5% {
        clip: rect(54px, 9999px, 66px, 0);
        transform: skew(0.24deg);
    }

    10% {
        clip: rect(88px, 9999px, 12px, 0);
        transform: skew(0.81deg);
    }

    15% {
        clip: rect(2px, 9999px, 95px, 0);
        transform: skew(0.39deg);
    }

    20% {
        clip: rect(70px, 9999px, 23px, 0);
        transform: skew(0.92deg);
    }

    25% {
        clip: rect(35px, 9999px, 48px, 0);
        transform: skew(0.16deg);
    }

    30% {
        clip: rect(15px, 9999px, 77px, 0);
        transform: skew(0.68deg);
    }

    35% {
        clip: rect(62px, 9999px, 89px, 0);
        transform: skew(0.03deg);
    }

    40% {
        clip: rect(46px, 9999px, 30px, 0);
        transform: skew(0.57deg);
    }

    45% {
        clip: rect(9px, 9999px, 56px, 0);
        transform: skew(0.82deg);
    }

    50% {
        clip: rect(78px, 9999px, 4px, 0);
        transform: skew(0.41deg);
    }

    55% {
        clip: rect(23px, 9999px, 81px, 0);
        transform: skew(0.96deg);
    }

    60% {
        clip: rect(95px, 9999px, 19px, 0);
        transform: skew(0.28deg);
    }

    65% {
        clip: rect(41px, 9999px, 63px, 0);
        transform: skew(0.74deg);
    }

    70% {
        clip: rect(66px, 9999px, 91px, 0);
        transform: skew(0.12deg);
    }

    75% {
        clip: rect(12px, 9999px, 34px, 0);
        transform: skew(0.55deg);
    }

    80% {
        clip: rect(84px, 9999px, 7px, 0);
        transform: skew(0.99deg);
    }

    85% {
        clip: rect(29px, 9999px, 52px, 0);
        transform: skew(0.33deg);
    }

    90% {
        clip: rect(59px, 9999px, 98px, 0);
        transform: skew(0.61deg);
    }

    95% {
        clip: rect(3px, 9999px, 45px, 0);
        transform: skew(0.19deg);
    }

    100% {
        clip: rect(91px, 9999px, 26px, 0);
        transform: skew(0.86deg);
    }
}

@keyframes glitch-skew {
    0% {
        transform: skew(3deg);
    }

    10% {
        transform: skew(-4deg);
    }

    20% {
        transform: skew(1deg);
    }

    30% {
        transform: skew(-5deg);
    }

    40% {
        transform: skew(2deg);
    }

    50% {
        transform: skew(-1deg);
    }

    60% {
        transform: skew(4deg);
    }

    70% {
        transform: skew(-3deg);
    }

    80% {
        transform: skew(1deg);
    }

    90% {
        transform: skew(-2deg);
    }

    100% {
        transform: skew(5deg);
    }
}